jobsui-core/src/main/resources/org/jobsui/job.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="uiComponentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Button" />
            <xs:enumeration value="CheckBox" />
            <xs:enumeration value="Choice" />
            <xs:enumeration value="List" />
            <xs:enumeration value="Value" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Job">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="OnInit" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="Validate" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="OnDependenciesChange" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="key" use="required"/>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                        <xs:attribute type="xs:boolean" name="visible" use="optional"/>
                        <xs:attribute type="xs:boolean" name="optional" use="optional"/>
                        <xs:attribute type="xs:string" name="dependsOn" use="optional"/>
                        <xs:attribute type="uiComponentType" name="component" use="optional" default="Value"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Expression" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="key" use="required"/>
                                <xs:attribute type="xs:string" name="name" use="required"/>
                                <xs:attribute type="xs:string" name="dependsOn" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Call" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Map" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute type="xs:string" name="in" use="required"/>
                                    <xs:attribute type="xs:string" name="out" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="key" use="required"/>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                        <xs:attribute type="xs:string" name="project" use="required"/>
                        <xs:attribute type="xs:string" name="job" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="Validate" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="Run" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>

            <xs:attribute type="xs:string" name="id" use="required"/>
            <xs:attribute type="xs:string" name="name" use="required"/>
            <xs:attribute type="xs:string" name="version" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>